*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container{
    text-align: center;
    margin: auto;
}



.as{
    font-size: 25px;
    font-weight: 600;
    color: #0071e3;
}

h1{
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
}

body{
    background-color: #f7f7f7;
}



section{
    padding: 110px 15px 15px 15px;
}

#produtos{
    margin-top: 15px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    display: flex;
}



.produto{
    align-items: center;
    margin-bottom: 10px;
    width: 220px;
    max-width: 250px ;
    color: rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}


.produto img{
    padding: 0;
    margin: 0;
    text-align: center;
    object-fit: contain;
    width: 240px;
    height: 240px;
}




.produto p{
    font-size: 17px;
    padding: 10px;
    margin-bottom: 5px;
}

.produto h2{
    font-size: 15px;
    font-weight: 600;
}



.produto button{
    cursor: pointer;
    border: none;
    background-color: #0071e3;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
}

.produto button:hover{
    transition: 0.7s;
    background-color: rgba(56, 56, 56, 0.932);
 
}

#rodape{
    margin-top: 40px;
    text-align: center;
}

#rodape h1{
    padding: 10px 0px 0px 20px;
    font-size: 16px;
    text-align: center;
    color: #333333;
}

#rodape p{
    padding: 0px 0px 25px 5px;
    color: #333333;
}

#rodape a{
    text-decoration: none;
    color: #0071e3;
}

.title{
    height: 47px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 5px;
}

#tt{
    margin-top: 45px;
    text-align: left;
    padding: 10px 50px;
}

#tt h1{
    font-weight: normal;
    font-size: 20px;
}

#tt a{
    text-decoration: none;
    cursor: pointer;
    color: #0071e3;
    font-size: 18px;
}

body{
    background-color: #fff;
}

.logoo img, span, a{
    cursor: pointer;
}

#container3{
    align-items: center;
    text-align: center;
    justify-content: space-around;
  
}

#outros{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

#acessorios-celular{
    align-items: center;
    text-align: center;
}

#acessorios-celular img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

#acessorios-celular p{
    font-size: 20px;
    font-weight: 500;
}

#perifericos-computador{
    align-items: center;
    text-align: center;
}

#perifericos-computador img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

#perifericos-computador p{
    font-weight: 500;
    font-size: 20px;
}


/*FRMATACAO PRODUTOS*/

.preco{
    display: flex;
    justify-content: center;
    text-align: center;
}

.preco p{
    padding: 5px;
}

.risco{
    font-size: 10px;
    color: red;
    text-decoration: line-through;
}



